
.waterfull{
	margin: 0 auto;
}
.waterfull ul li{
	float: left;
	width: 177.5px;
	padding: 8px;
	margin: 0 6px 10px;
	background: #fff;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	border:solid 1px #BCBCBC;
	box-shadow: 0 0 10px #BCBCBC;
}
.waterfull ul li .a-img{
	width: 177.5px
	display: block;
	position: relative;
}
.waterfull ul li .a-img img{
	width: 177.5px
	display: block;
	min-height: 250px;
}
.waterfull ul li .li-title{
	padding: 5px 0;
	max-height: 48px;
	overflow: hidden;
	line-height: 24px;
	color: #898686;
	background: #fff;
	border-bottom: solid 1px #DBDBDB;
}
.waterfull ul li .li-title:before {
	border-color: rgba(0,0,0,0) rgba(0,0,0,0) #EEE;
	border-style: solid;
	border-width: 10px;
	content: "";
	display: block;
	position: absolute;
	margin: -24px 0 0 10px;
	width: 0;
}
.waterfull ul li .description{
	padding: 5px 0;
	max-height: 66px;
	overflow: hidden;
	line-height: 22px;
	color: #898686;
	font-size: 1.3em;
	text-indent: 10px;
	background: #fff;
	border-bottom: solid 1px #DBDBDB;
}
.waterfull ul li .qianm{
	background: #fff;
}
.waterfull ul li .qianm .sp1{
	float: left;
	height: 30px;
	line-height: 36px;
	color: #898686;
}
.waterfull ul li .qianm .sp1 b{
	color: #5DAA21;
	font-weight: bold;
	padding: 0 5px 0;
	font-size: 1.3em;
}
.waterfull ul li .qianm .sp2{
	float: right;
	height: 30px;
	padding: 0 5px;
	line-height: 36px;
	color: #898686;
}
.waterfull ul li .qianm .sp3{
	float: right;
	height: 30px;
	line-height: 36px;
	color: #898686;
}